.navbar
{
  width:100%;
  background-color: #ba3200;
  margin:0px;
  padding:0px 0px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-buttons
{
  color:white;
  list-style:none;
  float:right;
  font-family:sans-serif;
  
}

.nav-buttons .nav-item
{
  display:inline-block;
  margin: 0px 20px 0px 0px;
  border-radius: 20%;
  padding-bottom:5px;
}

.nav-buttons  .nav-item:hover 
{
  background-color:white;
  color:black;
  
  
}
.nav-buttons  .nav-item:hover .dropdown 
{
  background-color:white;
  color:black;
  
  display:inline-block;
  z-index:10;
  list-style:none;
  
}

.dropdown
{
  display:none;
  position:absolute;
}

.navbar .logo
{
  color :white;
  font-family:sans-serif;
  padding :20px;
  margin: 25px;
  font-size:2em;
}
