 .bg-red {
     background-color: red;
 }
 
 .bg-blue {
     background-color: blue;
 }
 
 .bg-green {
     background-color: green;
 }
 
 .bg-yellow {
     background-color: #ffbf00;
 }
 
 .text-sm {
     font-size: 12px;
 }
 
 .text-md {
     font-size: 16px;
 }
 
 .text-lg {
     font-size: 20px;
 }
 
 .text-xl {
     font-size: 24px;
 }
 
 .text-2xl {
     font-size: 32px;
 }
 
 .flex {
     display: flex;
 }
 
 .flex-row {
     flex-direction: row;
 }
 
 .flex-col {
     flex-direction: column;
 }
 
 .mt-1 {
     margin-top: 1rem;
 }
 
 .mt-2 {
     margin-top: 2rem;
 }